<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXwJ0e0HXPUtGSqJP9Mw-hLeDKTBTj9yA</string>
	<key>GCM_SENDER_ID</key>
	<string>140873024202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shurrd.mynotes</string>
	<key>PROJECT_ID</key>
	<string>abraham-flutter-notesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>abraham-flutter-notesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140873024202:ios:7b613fd7a9f41f9256aa33</string>
</dict>
</plist>